*.txt
*.pdf
*.py
*~
*.log
*.ipynb_checkpoints*
*.DS_Store
.virtual_documents
_build
*.db
*.csv
*.xlsx
*.xls
release
.secrets
drafts
*.dat
*.doc
*.docx
.venv
.github/workflows/sync_export_nbgrader.yml
NOTES.md
sync2gdrive.sh
